{% extends "base.html" %}
{% block content %}

<form action="/animal/{{animal.id}}" method="post">
  <div>
    <label for="animal name">Animal Name:</label>
    <input type="text" id="animal name" name="animal name" value="{{animal.animal name}}" required autofocus>
  </div>
  <div>
    <label for="date of birth">Date of Birth:</label>
    <input type="text" id="date of birth" name="date of birth" value="{{animal.date of birth}}" required>
  </div>
  <div>
    <label for="animal type">Animal Type:</label>
    <input type="text" id="animal type" name="animal type" value="{{animal.animal type}}" required>
    <div>
    </div>
    <label for="owner contact details">Owner Contact Details:</label>
    <input type="text" id="owner contact details" name="owner contact details" value="{{animal.owner contact details}}" required>
    <div>
    </div>
    <label for="treatment notes">Treatment Notes:</label>
    <input type="text" id="treatment notes" name="treatment notes" value="{{animal.treatment notes}}" required>
    <div>
    </div>
    <label for="registered">Registered:</label>
    <select id="registered" name="registered">
      <option value="true" 
      {% if animal.registered %} selected="selected" {% endif %}>
        True
      </option>
      <option value="false"
      {% if not animal.registered %} selected="selected" {% endif %}>
        False
      </option>
    </select>
  </div>
  <div>
    <label for="user">User:</label>
    <select id="user" name="user_id">
      {% for user in users %}
      <option value="{{ user.id }}"
      {% if animal.user.id == user.id %} selected="selected" {% endif %}>
        {{ user.vet_name }}
      </option>
      {% endfor %}
    </select>
  </div>
  <button type="submit">Update Animal</button>
</form>
{% endblock %}