{% extends "base.html" %}

{% block content %}



<form action="/animals" method = "post">
    <div>
        <label for="animal_name">Animal Name:</label>
        <input type="text" id="animal_name" name="animal_name" placeholder="Animal_Name" required autofocus>
      </div>
      <div>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="text" id="date_of_birth" name="date_of_birth" placeholder="Date_of_Birth" required>
      </div>
      <div>
        <label for="animal_type">Animal Type:</label>
        <input type="text" id="animal_type" name="animal_type" placeholder="Animal_Type" required>
      </div>
      <div>
      <label for="owner_contact_details">Owner Contact Details:</label>
      <input type="text" id="owner_contact_details" name="owner_contact_details" placeholder="Owner_Contact_Details" required>
      <div>
      </div>
      <label for="treatment_notes">Treatment Notes:</label>
      <input type="text" id="treatment_notes" name="treatment_notes" placeholder="treatment_notes" required>
      </div>

        </select>
      </div>
      <div>
        <label for="users"></label>
        <select id="users" name="user_id">
            {% for user in users%}

                <option value={{ user.id }}>{{ user.vet_name }}</option>

            {% endfor %}
        </select>
      </div>
    <button type="submit">Add Animal Details</button>

</form>
<div id="myfooter"></div>
    Copyright &copy; 2021 www.yorkvetpractice.com - All Rights Reserved
{% endblock %}