{% extends "base.html" %}

{% block content %}



<form action="/animals" method = "post">
    <div>
        <label for="animal name">Animal Name:</label>
        <input type="text" id="animal name" name="animal name" placeholder="Animal Name" required autofocus>
      </div>
      <div>
        <label for="date of birth">Date of Birth:</label>
        <input type="text" id="date of birth" name="date of birth" placeholder="Date of Birth" required>
      </div>
      <div>
        <label for="animal type">Animal Type:</label>
        <input type="text" id="animal type" name="animal type" placeholder="Animal Type" required>
      </div>
      <div>
      <label for="owner contact details">Owner Contact Details:</label>
      <input type="text" id="owner contact details" name="owner contact details" placeholder="Owner Contact Details" required>
      <div>
      </div>
      <label for="Treatment Notes">Treatment Notes:</label>
      <input type="text" id="Treatment Notes" name="Treatment Notes" placeholder="Treatment Notes" required>
      </div>

        </select>
      </div>
      <div>
        <label for="users"></label>
        <select id="users" name="user_id">
            {% for user in users%}

                <option value={{ user.id }}>{{ user.vet_name }}</option>

            {% endfor %}
        </select>
      </div>
    <button type="submit">Add Animal Details</button>

</form>

{% endblock %}