{% extends "base.html" %}
{% block content %}

</main>
<h1>York Vet Practice Management App</h1>
<p>
    This app will allow users to view animals currently registered with the Practice and to add new animals to the Practice's database. 
</p>
<p>
    Above is a simple navigation bar for viewing and adding animals.
<p>
    <img src="{{url_for('static', filename='images/olly_1.jpg')}}"/>
    <img src="{{url_for('static', filename='images/olly_2.jpg')}}"/>
    <img src="{{url_for('static', filename='images/ellie.jpg')}}"/>
</p>
<p>
Some of our clients have kindly allowed us to use images of their pets in our gallary which you can see above.  
</p>
</main>


    <footer>
    copyright &copy; 2021 www.yorkvetpractice.com 
    </footer>

{% endblock %}